/* .search-wrapper{
    margin: 0 auto;
   
}

#pokemon-name-search{
     margin-top:2rem;
     width:600px;
     padding: 1.5rem;
} */

.search-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

.pokemon-name-search {
    width: 700px;
    padding: 1.5rem;
    border: 2px solid #070707;
    border-radius: 5px;
    font-size: 16px;
}